<div class="container">
    <h1>About</h1>
    <p>
        This app was developed as an exercise in creating a client-server application.
    </p>
    <p>The front end logic handles move selection, updating the board and the moves transcript. The client sends the move to the  Heroku hosted server which determines whether the move is legal, and if so send a message back to the client indicating the updated state of the board along with a human readable transcription of the move.
    </p>
</div>
