<div class="container">
    <h1>About</h1>
    <p>To start a new game refresh the screen or press the new game button.</p>

    <p>To move a piece click on the piece you wish to move then click on the Square to which you wish to move it</p>

    <p> Once a piece has been selected it will remain highlighted after you move the cursor way, if the square
        is not highlighted then, you have not selected the piece and need to click on it again .
    </p>
</div>
