<!--<div class="modal fade" id="youWonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->

        <!--<div class="modal-content">-->
            <!--&lt;!&ndash;<div class="modal-header">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;<button type="button" class="close" data-dismiss="modal" aria-label="Close">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span aria-hidden="true">&times;</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div>-->
                <!--<div class="container text-center">-->
                    <!--<h2>You won!</h2>-->

                    <!--<button type="button" class=".modal-btn btn btn-primary float-right" data-dismiss="modal">Close</button>-->

                <!--</div>-->
              <!--</div>-->



        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div id="resultModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">World's Worst Chess Computer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <h1 id= "result-modal-message"class="text-center"></h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#youWonModal">-->
    <!--Launch demo modal-->
<!--</button>-->
<div class="container">
    <div class="row">
            <div id="board" class="col-sm-8">
                <table class="float-right">
                    <tr>
                        <td class="edge top"></td>
                        <td class="edge top  a"></td>
                        <td class="edge top b"></td>
                        <td class="edge top c"></td>
                        <td class="edge top d"></td>
                        <td class="edge top e"></td>
                        <td class="edge top f"></td>
                        <td class="edge top g"></td>
                        <td class="edge top h"></td>
                        <td class="edge top"></td>
                    </tr>

                    <tr>
                        <td class="edge n8"></td>
                        <td class="white" data-column="a" data-row="8"></td>
                        <td class="black" data-column="b" data-row="8"></td>
                        <td class="white" data-column="c" data-row="8"></td>
                        <td class="black" data-column="d" data-row="8"></td>
                        <td class="white" data-column="e" data-row="8"></td>
                        <td class="black" data-column="f" data-row="8"></td>
                        <td class="white" data-column="g" data-row="8"></td>
                        <td class="black" data-column="h" data-row="8"></td>
                        <td class="edge n8"></td>
                    </tr>

                    <tr>
                        <td class="edge n7"></td>
                        <td class="black" data-column="a" data-row="7"></td>
                        <td class="white" data-column="b" data-row="7"></td>
                        <td class="black" data-column="c" data-row="7"></td>
                        <td class="white" data-column="d" data-row="7"></td>
                        <td class="black" data-column="e" data-row="7"></td>
                        <td class="white" data-column="f" data-row="7"></td>
                        <td class="black" data-column="g" data-row="7"></td>
                        <td class="white" data-column="h" data-row="7"></td>
                        <td class="edge n7"></td>

                    </tr>

                    <tr>
                        <td class="edge n6"></td>
                        <td class="white" data-column="a" data-row="6"></td>
                        <td class="black" data-column="b" data-row="6"></td>
                        <td class="white" data-column="c" data-row="6"></td>
                        <td class="black" data-column="d" data-row="6"></td>
                        <td class="white" data-column="e" data-row="6"></td>
                        <td class="black" data-column="f" data-row="6"></td>
                        <td class="white" data-column="g" data-row="6"></td>
                        <td class="black" data-column="h" data-row="6"></td>
                        <td class="edge n6"></td>

                    </tr>

                    <tr>
                        <td class="edge n5"></td>
                        <td class="black" data-column="a" data-row="5"></td>
                        <td class="white" data-column="b" data-row="5"></td>
                        <td class="black" data-column="c" data-row="5"></td>
                        <td class="white" data-column="d" data-row="5"></td>
                        <td class="black" data-column="e" data-row="5"></td>
                        <td class="white" data-column="f" data-row="5"></td>
                        <td class="black" data-column="g" data-row="5"></td>
                        <td class="white" data-column="h" data-row="5"></td>
                        <td class="edge n5"></td>

                    </tr>

                    <tr>
                        <td class="edge n4"></td>
                        <td class="white" data-column="a" data-row="4"></td>
                        <td class="black" data-column="b" data-row="4"></td>
                        <td class="white" data-column="c" data-row="4"></td>
                        <td class="black" data-column="d" data-row="4"></td>
                        <td class="white" data-column="e" data-row="4"></td>
                        <td class="black" data-column="f" data-row="4"></td>
                        <td class="white" data-column="g" data-row="4"></td>
                        <td class="black" data-column="h" data-row="4"></td>
                        <td class="edge n4"></td>

                    </tr>

                    <tr>
                        <td class="edge n3"></td>
                        <td class="black" data-column="a" data-row="3"></td>
                        <td class="white" data-column="b" data-row="3"></td>
                        <td class="black" data-column="c" data-row="3"></td>
                        <td class="white" data-column="d" data-row="3"></td>
                        <td class="black" data-column="e" data-row="3"></td>
                        <td class="white" data-column="f" data-row="3"></td>
                        <td class="black" data-column="g" data-row="3"></td>
                        <td class="white" data-column="h" data-row="3"></td>
                        <td class="edge n3"></td>

                    </tr>

                    <tr>
                        <td class="edge n2"></td>
                        <td class="white" data-column="a" data-row="2"></td>
                        <td class="black" data-column="b" data-row="2"></td>
                        <td class="white" data-column="c" data-row="2"></td>
                        <td class="black" data-column="d" data-row="2"></td>
                        <td class="white" data-column="e" data-row="2"></td>
                        <td class="black" data-column="f" data-row="2"></td>
                        <td class="white" data-column="g" data-row="2"></td>
                        <td class="black" data-column="h" data-row="2"></td>
                        <td class="edge n2"></td>

                    </tr>

                    <tr>
                        <td class="edge n1"></td>
                        <td class="black" data-column="a" data-row="1"></td>
                        <td class="white" data-column="b" data-row="1"></td>
                        <td class="black" data-column="c" data-row="1"></td>
                        <td class="white" data-column="d" data-row="1"></td>
                        <td class="black" data-column="e" data-row="1"></td>
                        <td class="white" data-column="f" data-row="1"></td>
                        <td class="black" data-column="g" data-row="1"></td>
                        <td class="white" data-column="h" data-row="1"></td>
                        <td class="edge n1"></td>
                    </tr>

                    <tr>
                        <td class="edge bottom "></td>
                        <td class="edge bottom a"></td>
                        <td class="edge bottom b"></td>
                        <td class="edge bottom c"></td>
                        <td class="edge bottom d"></td>
                        <td class="edge bottom e"></td>
                        <td class="edge bottom f"></td>
                        <td class="edge bottom g"></td>
                        <td class="edge bottom h"></td>
                        <td class="edge bottom"></td>
                    </tr>
                </table>
            </div>

            <div id="moves-newGame" class="col-sm-4">
                <div class="row">
                    <div class="col-sm-10 col-med-6">
                        <div id="moves">
                            moves
                        </div>
                        <div class="text-center">
                            <button id="new-game-btn" type="button" class="btn btn-primary">New Game</button>

                        </div>
                    </div>

                </div>

            </div>
    </div>

</div>





<script src="/js/main.js"></script>
