<!--<div id="promo">-->
<!--<div class="row">-->
<!--<div class="promo white-queen " data-piece="queen"></div>-->
<!--<div class="promo white-rook " data-piece="rook"></div>-->
<!--<div class="promo white-bishop" data-piece="bishop"></div>-->
<!--<div class="promo white-knight" data-piece="knight"></div>-->

<!--</div>-->
<!--</div>-->
<div class="container">
    <div class="row">
            <div id="board" class="col-8">
                <table class="float-right">
                    <tr>
                        <td class="edge"></td>
                        <td class="edge"><img src="/img/a.png" alt=""></td>
                        <td class="edge"><img src="/img/b.png" alt=""></td>
                        <td class="edge"><img src="/img/c.png" alt=""></td>
                        <td class="edge"><img src="/img/d.png" alt=""></td>
                        <td class="edge"><img src="/img/e.png" alt=""></td>
                        <td class="edge"><img src="/img/f.png" alt=""></td>
                        <td class="edge"><img src="/img/g.png" alt=""></td>
                        <td class="edge"><img src="/img/h.png" alt=""></td>
                        <td class="edge"></td>
                    </tr>

                    <tr>
                        <td class="edge"><img src="/img/8.png" alt=""></td>
                        <td class="white" data-column="a" data-row="8"></td>
                        <td class="black" data-column="b" data-row="8"></td>
                        <td class="white" data-column="c" data-row="8"></td>
                        <td class="black" data-column="d" data-row="8"></td>
                        <td class="white" data-column="e" data-row="8"></td>
                        <td class="black" data-column="f" data-row="8"></td>
                        <td class="white" data-column="g" data-row="8"></td>
                        <td class="black" data-column="h" data-row="8"></td>
                        <td class="edge"><img src="/img/8.png" alt=""></td>
                    </tr>

                    <tr>
                        <td class="edge"><img src="/img/7.png" alt=""></td>
                        <td class="black" data-column="a" data-row="7"></td>
                        <td class="white" data-column="b" data-row="7"></td>
                        <td class="black" data-column="c" data-row="7"></td>
                        <td class="white" data-column="d" data-row="7"></td>
                        <td class="black" data-column="e" data-row="7"></td>
                        <td class="white" data-column="f" data-row="7"></td>
                        <td class="black" data-column="g" data-row="7"></td>
                        <td class="white" data-column="h" data-row="7"></td>
                        <td class="edge"><img src="/img/7.png" alt=""></td>
                    </tr>

                    <tr>
                        <td class="edge"><img src="/img/6.png" alt=""></td>
                        <td class="white" data-column="a" data-row="6"></td>
                        <td class="black" data-column="b" data-row="6"></td>
                        <td class="white" data-column="c" data-row="6"></td>
                        <td class="black" data-column="d" data-row="6"></td>
                        <td class="white" data-column="e" data-row="6"></td>
                        <td class="black" data-column="f" data-row="6"></td>
                        <td class="white" data-column="g" data-row="6"></td>
                        <td class="black" data-column="h" data-row="6"></td>
                        <td class="edge"><img src="/img/6.png" alt=""></td>
                    </tr>

                    <tr>
                        <td class="edge"><img src="/img/5.png" alt=""></td>
                        <td class="black" data-column="a" data-row="5"></td>
                        <td class="white" data-column="b" data-row="5"></td>
                        <td class="black" data-column="c" data-row="5"></td>
                        <td class="white" data-column="d" data-row="5"></td>
                        <td class="black" data-column="e" data-row="5"></td>
                        <td class="white" data-column="f" data-row="5"></td>
                        <td class="black" data-column="g" data-row="5"></td>
                        <td class="white" data-column="h" data-row="5"></td>
                        <td class="edge"><img src="/img/5.png" alt=""></td>
                    </tr>

                    <tr>
                        <td class="edge"><img src="/img/4.png" alt=""></td>
                        <td class="white" data-column="a" data-row="4"></td>
                        <td class="black" data-column="b" data-row="4"></td>
                        <td class="white" data-column="c" data-row="4"></td>
                        <td class="black" data-column="d" data-row="4"></td>
                        <td class="white" data-column="e" data-row="4"></td>
                        <td class="black" data-column="f" data-row="4"></td>
                        <td class="white" data-column="g" data-row="4"></td>
                        <td class="black" data-column="h" data-row="4"></td>
                        <td class="edge"><img src="/img/4.png" alt=""></td>
                    </tr>

                    <tr>
                        <td class="edge"><img src="/img/3.png" alt=""></td>
                        <td class="black" data-column="a" data-row="3"></td>
                        <td class="white" data-column="b" data-row="3"></td>
                        <td class="black" data-column="c" data-row="3"></td>
                        <td class="white" data-column="d" data-row="3"></td>
                        <td class="black" data-column="e" data-row="3"></td>
                        <td class="white" data-column="f" data-row="3"></td>
                        <td class="black" data-column="g" data-row="3"></td>
                        <td class="white" data-column="h" data-row="3"></td>
                        <td class="edge"><img src="/img/3.png" alt=""></td>
                    </tr>

                    <tr>
                        <td class="edge"><img src="/img/2.png" alt=""></td>
                        <td class="white" data-column="a" data-row="2"></td>
                        <td class="black" data-column="b" data-row="2"></td>
                        <td class="white" data-column="c" data-row="2"></td>
                        <td class="black" data-column="d" data-row="2"></td>
                        <td class="white" data-column="e" data-row="2"></td>
                        <td class="black" data-column="f" data-row="2"></td>
                        <td class="white" data-column="g" data-row="2"></td>
                        <td class="black" data-column="h" data-row="2"></td>
                        <td class="edge"><img src="/img/2.png" alt=""></td>
                    </tr>

                    <tr>
                        <td class="edge"><img src="/img/1.png" alt=""></td>
                        <td class="black" data-column="a" data-row="1"></td>
                        <td class="white" data-column="b" data-row="1"></td>
                        <td class="black" data-column="c" data-row="1"></td>
                        <td class="white" data-column="d" data-row="1"></td>
                        <td class="black" data-column="e" data-row="1"></td>
                        <td class="white" data-column="f" data-row="1"></td>
                        <td class="black" data-column="g" data-row="1"></td>
                        <td class="white" data-column="h" data-row="1"></td>
                        <td class="edge"><img src="/img/1.png" alt=""></td>
                    </tr>

                    <tr>
                        <td class="edge"></td>
                        <td class="edge"><img src="/img/a.png" alt=""></td>
                        <td class="edge"><img src="/img/b.png" alt=""></td>
                        <td class="edge"><img src="/img/c.png" alt=""></td>
                        <td class="edge"><img src="/img/d.png" alt=""></td>
                        <td class="edge"><img src="/img/e.png" alt=""></td>
                        <td class="edge"><img src="/img/f.png" alt=""></td>
                        <td class="edge"><img src="/img/g.png" alt=""></td>
                        <td class="edge"><img src="/img/h.png" alt=""></td>
                        <td class="edge"></td>
                    </tr>
                </table>
            </div>

            <div id="moves-newGame" class="col-4">
                <div class="row">
                    <div class="col-6 text-center">
                        <div id="moves">
                            moves
                        </div>
                        <button id="new-game-btn" type="button" class="btn btn-primary">New Game</button>
                    </div>

                </div>

            </div>
    </div>

</div>





<script src="/js/main.js"></script>
