<table>

    <tr>
        <td class="edge"></td>
        <td class="edge">a</td>
        <td class="edge">b</td>
        <td class="edge">c</td>
        <td class="edge">d</td>
        <td class="edge">e</td>
        <td class="edge">f</td>
        <td class="edge">g</td>
        <td class="edge">h</td>
        <td class="edge"></td>
    </tr>

    <tr>
        <td class="edge">8</td>
        <td class="white" data-column="a" data-row="8"></td>
        <td class="black" data-column="b" data-row="8"></td>
        <td class="white" data-column="c" data-row="8"></td>
        <td class="black" data-column="d" data-row="8"></td>
        <td class="white" data-column="e" data-row="8"></td>
        <td class="black" data-column="f" data-row="8"></td>
        <td class="white" data-column="g" data-row="8"></td>
        <td class="black" data-column="h" data-row="8"></td>
        <td class="edge">8</td>
    </tr>

    <tr>
        <td class="edge">7</td>
        <td class="black" data-column="a" data-row="7"></td>
        <td class="white" data-column="b" data-row="7"></td>
        <td class="black" data-column="c" data-row="7"></td>
        <td class="white" data-column="d" data-row="7"></td>
        <td class="black" data-column="e" data-row="7"></td>
        <td class="white" data-column="f" data-row="7"></td>
        <td class="black" data-column="g" data-row="7"></td>
        <td class="white" data-column="h" data-row="7"></td>
        <td class="edge">7</td>
    </tr>

    <tr>
        <td class="edge">6</td>
        <td class="white" data-column="a" data-row="6"></td>
        <td class="black" data-column="b" data-row="6"></td>
        <td class="white" data-column="c" data-row="6"></td>
        <td class="black" data-column="d" data-row="6"></td>
        <td class="white" data-column="e" data-row="6"></td>
        <td class="black" data-column="f" data-row="6"></td>
        <td class="white" data-column="g" data-row="6"></td>
        <td class="black" data-column="h" data-row="6"></td>
        <td class="edge">6</td>
    </tr>

    <tr>
        <td class="edge">5</td>
        <td class="black" data-column="a" data-row="5"></td>
        <td class="white" data-column="b" data-row="5"></td>
        <td class="black" data-column="c" data-row="5"></td>
        <td class="white" data-column="d" data-row="5"></td>
        <td class="black" data-column="e" data-row="5"></td>
        <td class="white" data-column="f" data-row="5"></td>
        <td class="black" data-column="g" data-row="5"></td>
        <td class="white" data-column="h" data-row="5"></td>
        <td class="edge">5</td>
    </tr>

    <tr>
        <td class="edge">4</td>
        <td class="white" data-column="a" data-row="4"></td>
        <td class="black" data-column="b" data-row="4"></td>
        <td class="white" data-column="c" data-row="4"></td>
        <td class="black" data-column="d" data-row="4"></td>
        <td class="white" data-column="e" data-row="4"></td>
        <td class="black" data-column="f" data-row="4"></td>
        <td class="white" data-column="g" data-row="4"></td>
        <td class="black" data-column="h" data-row="4"></td>
        <td class="edge">4</td>
    </tr>

    <tr>
        <td class="edge">3</td>
        <td class="black" data-column="a" data-row="3"></td>
        <td class="white" data-column="b" data-row="3"></td>
        <td class="black" data-column="c" data-row="3"></td>
        <td class="white" data-column="d" data-row="3"></td>
        <td class="black" data-column="e" data-row="3"></td>
        <td class="white" data-column="f" data-row="3"></td>
        <td class="black" data-column="g" data-row="3"></td>
        <td class="white" data-column="h" data-row="3"></td>
        <td class="edge">3</td>
    </tr>

    <tr>
        <td class="edge">2</td>
        <td class="white" data-column="a" data-row="2"></td>
        <td class="black" data-column="b" data-row="2"></td>
        <td class="white" data-column="c" data-row="2"></td>
        <td class="black" data-column="d" data-row="2"></td>
        <td class="white" data-column="e" data-row="2"></td>
        <td class="black" data-column="f" data-row="2"></td>
        <td class="white" data-column="g" data-row="2"></td>
        <td class="black" data-column="h" data-row="2"></td>
        <td class="edge">2</td>
    </tr>

    <tr>
        <td class="edge">1</td>
        <td class="black" data-column="a" data-row="1"></td>
        <td class="white" data-column="b" data-row="1"></td>
        <td class="black" data-column="c" data-row="1"></td>
        <td class="white" data-column="d" data-row="1"></td>
        <td class="black" data-column="e" data-row="1"></td>
        <td class="white" data-column="f" data-row="1"></td>
        <td class="black" data-column="g" data-row="1"></td>
        <td class="white" data-column="h" data-row="1"></td>
        <td class="edge">1</td>
    </tr>

    <tr>
        <td class="edge"></td>
        <td class="edge">a</td>
        <td class="edge">b</td>
        <td class="edge">c</td>
        <td class="edge">d</td>
        <td class="edge">e</td>
        <td class="edge">f</td>
        <td class="edge">g</td>
        <td class="edge">h</td>
        <td class="edge"></td>
    </tr>

</table>
<script>
    var board;
    //get board from server
    $(document).ready(function () {
        $.getJSON('newgame', function (data) {
            board = data;
            var pieces = board.pieces;

            //populate screen board
            pieces.forEach((piece) => {
                var row = piece.row;
                var column = piece.column;
                var colour = piece.colour;
                var denomination = piece.denomination
                $("td[data-column=" + column + "][data-row=" + row + "]").html("<div id=" + colour + "-" + denomination + "></div>");
            })
            //respond to clicks on screen board
            var fromColumn, fromRow, toColumn, toRow;
            var select = "from";
            $(".black, .white").click(function () {
                if (select === "from") {
                    $(this).toggleClass("selected");
                    fromColumn = $(this).attr("data-column");
                    fromRow = $(this).attr("data-row");
                    //alert("from " + fromColumn + fromRow);
                    select = "to";
                } else {
                    $(this).toggleClass("selected");
                    toColumn = $(this).attr("data-column");
                    toRow = $(this).attr("data-row");

                    if (toColumn === fromColumn && toRow === fromRow) {

                    } else {
                        $.ajax({
                            type: 'POST',
                            url: 'submitmove',
                            data: JSON.stringify({
                                board: board,
                                from: fromColumn + fromRow,
                                to: toColumn + toRow,
                            }),
                            success: function (data) {
                                //alert(JSON.stringify(data));
                                //update the board
                                board = data;
                                var pieces = board.pieces;

                                $(".selected").html("");

                                $("td").removeClass("selected");

                                //populate screen board
                                pieces.forEach((piece) => {
                                   // alert(piece);
                                    var row = piece.row;
                                    var column = piece.column;
                                    var colour = piece.colour;
                                    var denomination = piece.denomination
                                    $("td[data-column=" + column + "][data-row=" + row + "]").html("<div id=" + colour + "-" + denomination + "></div>");
                                })
                                //alert(JSON.stringify(board))
                                //get computer move
                                $.ajax({
                                    type: 'POST',
                                    url: 'getrandommove',
                                    data: JSON.stringify({board: board}),
                                    success: function (move) {
                                        //alert(JSON.stringify(move));
                                        for (var i = 0; i < board.pieces.length; i++){
                                            var piece = board.pieces[i];
                                            if(piece.column === move.from.column && piece.row === move.from.row){
                                                piece.column = move.to.column;
                                                piece.row = move.to.row;
                                                //alert(JSON.stringify(piece));
                                                $("td[data-column=" + move.from.column + "][data-row=" + move.from.row + "]").html("");
                                                pieces.forEach((piece) => {
                                                    // alert(piece);
                                                    var row = piece.row;
                                                    var column = piece.column;
                                                    var colour = piece.colour;
                                                    var denomination = piece.denomination
                                                    $("td[data-column=" + column + "][data-row=" + row + "]").html("<div id=" + colour + "-" + denomination + "></div>");
                                                })
                                            }
                                        }

                                        board.pieces
                                    },
                                    contentType: "application/json",

                                });
                            },
                            contentType: "application/json",

                        });
                    }
                    //alert(fromColumn + fromRow + " - " + toColumn + toRow);
                    select = "from";


                }
            });
        })


    });


</script>


