
<div class="container">
   <div class="row">
       <div id="promo">
           <div class="row">
               <div class="promo white-queen " data-piece="queen"></div>
               <div class="promo white-rook " data-piece="rook"></div>
               <div class="promo white-bishop" data-piece="bishop"></div>
               <div class="promo white-knight" data-piece="knight"></div>

           </div>
   </div>

</div>

    <div class="row">

        <div class="col-sm ">
            <table class="float-right"text-center>
                <tr>
                    <td class="edge"></td>
                    <td class="edge">a</td>
                    <td class="edge">b</td>
                    <td class="edge">c</td>
                    <td class="edge">d</td>
                    <td class="edge">e</td>
                    <td class="edge">f</td>
                    <td class="edge">g</td>
                    <td class="edge">h</td>
                    <td class="edge"></td>
                </tr>

                <tr>
                    <td class="edge">8</td>
                    <td class="white" data-column="a" data-row="8"></td>
                    <td class="black" data-column="b" data-row="8"></td>
                    <td class="white" data-column="c" data-row="8"></td>
                    <td class="black" data-column="d" data-row="8"></td>
                    <td class="white" data-column="e" data-row="8"></td>
                    <td class="black" data-column="f" data-row="8"></td>
                    <td class="white" data-column="g" data-row="8"></td>
                    <td class="black" data-column="h" data-row="8"></td>
                    <td class="edge">8</td>
                </tr>

                <tr>
                    <td class="edge">7</td>
                    <td class="black" data-column="a" data-row="7"></td>
                    <td class="white" data-column="b" data-row="7"></td>
                    <td class="black" data-column="c" data-row="7"></td>
                    <td class="white" data-column="d" data-row="7"></td>
                    <td class="black" data-column="e" data-row="7"></td>
                    <td class="white" data-column="f" data-row="7"></td>
                    <td class="black" data-column="g" data-row="7"></td>
                    <td class="white" data-column="h" data-row="7"></td>
                    <td class="edge">7</td>
                </tr>

                <tr>
                    <td class="edge">6</td>
                    <td class="white" data-column="a" data-row="6"></td>
                    <td class="black" data-column="b" data-row="6"></td>
                    <td class="white" data-column="c" data-row="6"></td>
                    <td class="black" data-column="d" data-row="6"></td>
                    <td class="white" data-column="e" data-row="6"></td>
                    <td class="black" data-column="f" data-row="6"></td>
                    <td class="white" data-column="g" data-row="6"></td>
                    <td class="black" data-column="h" data-row="6"></td>
                    <td class="edge">6</td>
                </tr>

                <tr>
                    <td class="edge">5</td>
                    <td class="black" data-column="a" data-row="5"></td>
                    <td class="white" data-column="b" data-row="5"></td>
                    <td class="black" data-column="c" data-row="5"></td>
                    <td class="white" data-column="d" data-row="5"></td>
                    <td class="black" data-column="e" data-row="5"></td>
                    <td class="white" data-column="f" data-row="5"></td>
                    <td class="black" data-column="g" data-row="5"></td>
                    <td class="white" data-column="h" data-row="5"></td>
                    <td class="edge">5</td>
                </tr>

                <tr>
                    <td class="edge">4</td>
                    <td class="white" data-column="a" data-row="4"></td>
                    <td class="black" data-column="b" data-row="4"></td>
                    <td class="white" data-column="c" data-row="4"></td>
                    <td class="black" data-column="d" data-row="4"></td>
                    <td class="white" data-column="e" data-row="4"></td>
                    <td class="black" data-column="f" data-row="4"></td>
                    <td class="white" data-column="g" data-row="4"></td>
                    <td class="black" data-column="h" data-row="4"></td>
                    <td class="edge">4</td>
                </tr>

                <tr>
                    <td class="edge">3</td>
                    <td class="black" data-column="a" data-row="3"></td>
                    <td class="white" data-column="b" data-row="3"></td>
                    <td class="black" data-column="c" data-row="3"></td>
                    <td class="white" data-column="d" data-row="3"></td>
                    <td class="black" data-column="e" data-row="3"></td>
                    <td class="white" data-column="f" data-row="3"></td>
                    <td class="black" data-column="g" data-row="3"></td>
                    <td class="white" data-column="h" data-row="3"></td>
                    <td class="edge">3</td>
                </tr>

                <tr>
                    <td class="edge">2</td>
                    <td class="white" data-column="a" data-row="2"></td>
                    <td class="black" data-column="b" data-row="2"></td>
                    <td class="white" data-column="c" data-row="2"></td>
                    <td class="black" data-column="d" data-row="2"></td>
                    <td class="white" data-column="e" data-row="2"></td>
                    <td class="black" data-column="f" data-row="2"></td>
                    <td class="white" data-column="g" data-row="2"></td>
                    <td class="black" data-column="h" data-row="2"></td>
                    <td class="edge">2</td>
                </tr>

                <tr>
                    <td class="edge">1</td>
                    <td class="black" data-column="a" data-row="1"></td>
                    <td class="white" data-column="b" data-row="1"></td>
                    <td class="black" data-column="c" data-row="1"></td>
                    <td class="white" data-column="d" data-row="1"></td>
                    <td class="black" data-column="e" data-row="1"></td>
                    <td class="white" data-column="f" data-row="1"></td>
                    <td class="black" data-column="g" data-row="1"></td>
                    <td class="white" data-column="h" data-row="1"></td>
                    <td class="edge">1</td>
                </tr>

                <tr>
                    <td class="edge"></td>
                    <td class="edge">a</td>
                    <td class="edge">b</td>
                    <td class="edge">c</td>
                    <td class="edge">d</td>
                    <td class="edge">e</td>
                    <td class="edge">f</td>
                    <td class="edge">g</td>
                    <td class="edge">h</td>
                    <td class="edge"></td>
                </tr>

            </table>
        </div>

        <div class="col-sm ">
            <div class="row">
                 <textarea id="notation" rows="13" cols="25">
                   moves
            </textarea>
            </div>
           <div class="row text-center">



           </div>

            <div class="col-sm">
                <button id="new-game-btn" type="button" class="btn btn-primary">New Game</button>
            </div>
        </div>


    </div>
</div>


<script src="/js/main.js"></script>
